<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

    {{ partial "head.html" . }}

    <body>

        <div id="all">

            <header>
                {{ partial "top.html" . }}
                {{ partial "nav.html" . }}
            </header>

            {{ partial "carousel.tpl" (dict "context" . "data" $.Site.Data.carousel.images_1) }}

            {{ partial "features.tpl" (dict "context" . "data" $.Site.Data.features.items_1) }}

            {{ partial "carousel.tpl" (dict "context" . "data" $.Site.Data.carousel.images_2) }}

            {{ partial "features.tpl" (dict "context" . "data" $.Site.Data.features.items_2) }}

            {{ partial "testimonials.html" . }}

            {{ partial "see_more.html" . }}

            {{ partial "recent_posts.html" . }}

            {{ partial "clients.html" . }}

            {{ partial "footer.html" . }}

        </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>
